:root {
    --main-bg-color: brown;

    --azul-claro: #ECE8E5;
    --naranja: #3EA6A2;
    --rojo: #45607C;
    --rosa: #5A85B0;
    --azul-osc: #0C315D;

    --fondo: var(--azul-claro);
    --contraste: var(--naranja);
    --principal: var(--rojo);
    --acento: var(--rosa);
    --texto: var(--azul-osc);
  }