@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 50px 10px;
    --color-title: blue;
    --event-radius: 0.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

/* Barra de navegacion */

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    color: black;
    background-image: linear-gradient(180deg, rgba(27, 26, 26, 0.35), rgba(49, 49, 49, 0.35)), url('../images/beach.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
}

nav {
    display: flex;
    gap: 2.5em;
    padding-top: 3rem;
    align-items: center;
    font-size: 1.25rem;
    justify-content: center;
    color: var(--blanco);
}

.container-logo {
    display: flex;
    flex-direction: row;
}

/* Conjunto de elementos de la barra de navegacion, que formaran
parte del menu desplegable responsivo cuando la pantalla se haga pequeña */
.nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

/* Elementos de la barra de decoracion */
nav a {
    color: white;
    text-decoration: none;
}


/* Logo de la barra de navegacion */
.logo-nav {
    font-weight: bold;
}

/* Boton para abrir la barra de navegacion responsiva cuando la pantalla se hace pequeña */
.btn-menu {
    display: none;
    margin-left: auto;
    padding-left: 0.75rem;
}

/* Hero */

/* Contenedor del hero */
.hero {
    padding-top: 4rem;
    text-align: center;
    color: var(--blanco);
}

/* Titulo del hero */
.hero-titulo {
    font-size: 4rem;
    color: var(--white);
    /* background: linear-gradient(to left, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

}

/* Descripcion del hero */
.hero-text {
    font-size: 1.5rem;
    padding-top: 1rem;
    text-align: center;
}

/* Barra del busqueda */
.barra-busqueda {
    display: flex;
    text-align: center;
    align-items: center;
    padding-top: 2rem;
    border-radius: 40px;
    width: 900px;
}

/* Entrada de texto de la barra de busqueda */
.barra-busqueda input[type=text] {
    flex: 1;
    height: auto;
    width: 30%;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;

}

/* Boton de buscar de la barra de busqueda */
.barra-busqueda button[type=submit] {
    border: none;
    width: fit-content;
    height: fit-content;
    background-color: var(--azul);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
}

/* Boton de buscar de la barra de busqueda efecto hover */
.barra-busqueda button[type=submit]:hover {
    background-color: var(--amarillo);
}

/* Header responsivo */
@media(max-width: 800px) {

    header {
        justify-content: start;
        gap: 0.25rem;
    }

    nav {
        flex-direction: column;
        gap: 0.5rem;
    }

    .nav-items {
        flex-direction: column;
        gap: 0.25rem;
    }

    .btn-menu {
        display: block;
    }

    .logo-nav{
        font-size: 2rem;
    }

    .hero {
        display: none;
    }

    .barra-busqueda {
        width: auto;
    }

}

/* Eventos */



.container-caja-eventos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.prev,
.next {
    width: 2.2%;
    min-width: 40px;
    display: contents;
    aspect-ratio: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(79 70 229);
    border-width: 1px;
    border: 2px solid;
    border-radius: 50%;
    border-color: rgb(79 70 229);
}


.caja_eventos {
    background-color: lightgray;
    /* float: left; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 5em;
    /* margin: 50px; */
    padding: 55px;
    width: 94%;
}


.evento {
    /* transition-duration: 300ms; */
    padding-bottom: 1.25rem;
    border-radius: var(--event-radius);
    background-color: white;
    box-sizing: border-box;
    align-items: center;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    display: grid;
    grid-template-rows: 3fr 2fr;
    aspect-ratio: 2;
}

.fade-left {
    opacity: 0;
    animation: fadeLeft 1s forwards;
}

@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}


.fade-right {
    opacity: 0;
    animation: fadeRight 1s forwards;
}

@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.container_imagen_eventos {
    border-radius: 0.75rem;
}

.img {
    max-width: 100%;
    border-radius: var(--event-radius) var(--event-radius) 0 0;
    height: auto;
}

.container_text_evento {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.25rem;
}

.fecha-evento {
    padding-top: 0.5rem;
    color: var(--naranja);
    font-weight: bolder;
}

.lugar-evento {
    padding-top: 0.4rem;
    font-size: smaller;
    color: var(--gris);
}

.container-precio {
    font-size: smaller;
}

.precio {
    font-size: large;
    font-weight: bolder;
}



.footer-evento {
    display: flex;
    justify-content: space-between;
    padding-top: 1.75rem;
    align-items: center;

}


.btn-reservar {
    border: none;
    background-color: var(--azul);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
}


/* modal */

#form-reserva {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    flex-direction: column;
    justify-content: center;
}

/* Modal Content */
.container-reserva {
    position: relative;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    max-width: 500px;

    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 1s;
    animation-name: animatetop;
    animation-duration: 1s;
    border-radius: 10px;
    z-index: 0;
    /* DUDA, por que el radio no va */
    border-radius: 1rem 1rem 0 0;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        left: -100px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        left: -100px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.form-header {
    /* border-radius: var(--event-radius) var(--event-radius) 0 0; */
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    background: linear-gradient(135deg, var(--azul-gris), var(--azul));
    border-radius: 30px;
    color: white;
    z-index: 1;
    border-radius: 1rem 1rem 0 0;

}


.form-body {
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 2rem;
    display: block;
    /* display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0rem; */
    /* font-size: larger; */

}

.input-label {
    /* display: block; */
    /* padding-top: 0rem;
    padding-bottom: 0rem;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem; */
}

.input-text {
    /* display: block; */
    /* padding-top: 0rem;
    padding-bottom: 0rem; */

    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    outline: none;
    border: 1px solid var(--azul-gris);
    border-radius: 0.5rem;
    min-height: 30px;
    font-size: larger;
}


.input-text:focus {
    border: double 2px transparent;
    border-radius: 0.5rem;
    background-image: linear-gradient(white, white), linear-gradient(135deg, var(--azul-gris), var(--azul));
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.btnsubmit {
    min-height: 35px;
    width: 100%;
    border-radius: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    /* transition: all 0.3s ease; */
    color: var(--blanco);
    background: linear-gradient(135deg, var(--azul-gris), var(--azul));
    background-size: 600% 600%;
    animation: GradientAnimation 3s ease infinite;
}


@keyframes GradientAnimation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}


.btnsubmit:hover {
    border: double 2px transparent;
    /* border-radius: 0.5rem; */
    background-image: linear-gradient(white, white), linear-gradient(135deg, var(--azul-gris), var(--azul));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: var(--azul-gris);
}

.form-footer {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    background-color: var(--azul-gris);
    color: white;
}