/* @import "comun.css"; */


h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    background-color: #e5e5EC;
    opacity: 1;
    background-image: radial-gradient(var(--naranja) 0.8px, #e5e5EC 0.8px);
    background-size: 16px 16px;
}

/* hero */

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-self: center;
    justify-content: start;
    background-image: linear-gradient(to right top, rgba(27, 26, 26, 0.65), rgba(49, 49, 49, 0.65)), url('../images/workingmed.jpg');
    background-size: cover;
    color: var(--blanco);
    gap: 2rem;
    padding-bottom: 3rem;
}

.hero{
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.hero h2{
    font-size: 2.5rem;
    font-weight: bold;
}

.hero p {
    padding-top: 1.25rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}



/* features */
.container-features-tipo1 {
    display: flex;
    flex-direction: row;
    padding: 3rem 3rem;
    gap: 2rem;
    color: var(--fuente-texto-oscura);
}

/* Containet información responsivo */
@media (max-width: 900px) {
    .container-features-tipo1 {
        flex-direction: column;
    }
}

.container-features-tipo1 article{
    background-color: var(--blanco);
    padding: 1.5rem;
    border-radius: var(--radius);
    box-shadow: 0 0 20px var(--blanco);
} 

.icon {
    width: 1.5rem;
    height: 1.5rem;
    min-width: 40px;
    min-height: 40px;
    padding: 3px;
    color: var(--fuente-texto-oscura);
    background-color: var(--bg-color-oscuro-2-claro);
    border-radius: 0.75rem;
}


/* features tipo 2 */
.feature-tipo2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100px;
    margin: 0 auto;
    padding: 1.5rem 3rem;
    gap: 3rem;
    background-color: var(--bg-color-oscuro-2);
}

.feature-tipo2 div{
    padding: 0 2rem;
}



.feature-tipo2 p {
    padding-top: 0.75rem;
}

.feature-tipo2 h2,
.feature-tipo2 p {
    color: var(--fuente-texto);

}

.feature-tipo2 img{
    display: block;
    margin: auto;
    max-height: 90%;
    max-width: 400px;
    object-fit: cover;
    border-radius: 1rem;
}

@media (max-width: 800px) {
    .feature-tipo2 {
        flex-direction: column-reverse;
    }
}