/* @import "comun.css"; */


h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    color: var(--fondo);
    background-color: var(--fondo);
    background-color: #fff;
    opacity: 1;
    background-image: radial-gradient(#ECB561 0.7000000000000001px, transparent 0.7000000000000001px), radial-gradient(#ECB561 0.7000000000000001px, #fff 0.7000000000000001px);
    background-size: 28px 28px;
    background-position: 0 0, 14px 14px;
}

/* hero */

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-self: center;
    justify-content: start;
    background-image: linear-gradient(to right top, rgba(27, 26, 26, 0.55), rgba(49, 49, 49, 0.55)), url('../images/workingmed.jpg');
    background-size: cover;
    color: var(--banco);
    gap: 2rem;
    padding-bottom: 3rem;
}

.hero h2, .hero p{
    color: var(--banco);
}

.hero p {
    padding-top: 1.25rem;
    margin-bottom: 2rem;
}

/* features */


.container-features-tipo1 {
    box-sizing: border-box;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    width: 100%;
}

@media (max-width: 1024px) {
    .container-features-tipo1 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media (max-width: 512px) {
    .container-features-tipo1 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        padding-left: 3rem;
        padding-right: 3rem;

    }
}


.icon {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.75rem;
    color: var(--fuente-texto-oscura);
    background-color: var(--bg-color-oscuro-2-claro);
    border-radius: 0.75rem;
}

.feature-tipo1 h2,
.feature-tipo1 p {
    color: var(--fuente-texto-oscura);
}

/* features tipo 2 */

.feature-tipo2 {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 1.5rem 0.75rem 1rem;
    background-color: var(--bg-color-oscuro-2);

    /* height: 30vh; */
}

@media (max-width: 800px) {
    .feature-tipo2 {
        grid-template-columns: 1fr;
        grid-row-start: 2;
    }

    .feature_info {
        order: 2;
        padding-top: 2rem;
        padding-bottom: 4rem;
    }

    .image-tipo1 {
        order: 1;
    }
}


.feature_info {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2rem 0;

}


.feature-tipo2 p {
    padding-top: 0.75rem;
}

.feature-tipo2 h2,
.feature-tipo2 p {
    color: var(--fuente-texto);

}

.image-tipo1 {
    margin: auto;
    /* margin-left: auto;
    margin-right: auto; */
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    /* max-width: 100%; */
}