h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

/* Barra de navegacion */

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    color: black;
    background-image: linear-gradient(180deg, rgba(27, 26, 26, 0.35), rgba(49, 49, 49, 0.35)), url('../images/beach.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
}

nav {
    display: flex;
    gap: 2.5em;
    padding-top: 3rem;
    align-items: center;
    font-size: 1.25rem;
    justify-content: center;
    color: var(--blanco);
}

.container-logo {
    display: flex;
    flex-direction: row;
}

/* Conjunto de elementos de la barra de navegacion, que formaran
parte del menu desplegable responsivo cuando la pantalla se haga pequeña */
.nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

/* Elementos de la barra de decoracion */
nav a {
    color: white;
    text-decoration: none;
}


/* Logo de la barra de navegacion */
.logo-nav {
    font-weight: bold;
}

/* Boton para abrir la barra de navegacion responsiva cuando la pantalla se hace pequeña */
.btn-menu {
    display: none;
    margin-left: auto;
    padding-left: 0.75rem;
}

/* Header responsivo */
@media(max-width: 800px) {

    header {
        justify-content: start;
        gap: 0.25rem;
    }

    nav {
        flex-direction: column;
        gap: 0.5rem;
    }

    .nav-items {
        flex-direction: column;
        gap: 0.25rem;
    }

    .btn-menu {
        display: block;
    }

    .logo-nav{
        font-size: 2rem;
    }

}