h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}



/* Barra de navegacion */
nav {
    display: flex;
    gap: 2.5em;
    padding-top: 3rem;
    align-items: center;
    font-size: 1.25rem;
    justify-content: center;
    color: var(--blanco);
}


/* Conjunto de elementos de la barra de navegacion*/
.nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

/* Elementos de la barra de decoracion */
nav a {
    color: white;
    text-decoration: none;
}


/* Logo de la barra de navegacion */
.logo-nav {
    display: block;
    margin: 0 auto;
    font-weight: bold;
}






/* Header responsivo */
@media(max-width: 900px) {

    header {
        justify-content: start;
        gap: 0.25rem;
    }

    nav {
        flex-direction: column;
        gap: 0.5rem;
    }
    
    .nav-items {
        flex-direction: column;
        padding: 1.25rem;
        gap: 0.5rem;
        backdrop-filter: blur(10px);
        border-radius: 20px;
    }
    
    .nav-items a:hover{
        font-weight: bold;
    }

    .logo-nav {
        font-size: 2rem;
    }

}