@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

:root {
    --c-blue-900: #081030;
    --c-blue-800: #111b40;
    --c-blue-700: #152148;
    --c-blue-500: #1d7bdb;
    --c-blue-300: #293359;
    --c-blue-200: #4e5985;
    --c-blue-100: #dfe8ff;
    --c-green-400: #4ade80;
}

/* hero */
.hero {
    display: flex;
    text-align: center;
    align-items: center;
    height: 100vh;
    /* opacity: 0.757; */

}

*,
*::before,
*::after {
    box-sizing: border-box;
}


.hero_organizadores {
    background-size: cover;
    background-image: linear-gradient(to right top,
            rgba(27, 26, 26, 0.55),
            rgba(49, 49, 49, 0.55)), url('../images/workgr.jpg');
}

.hero_usuarios {
    background-image: linear-gradient(to right top,
            rgba(27, 26, 26, 0.55),
            rgba(49, 49, 49, 0.55)), url('../images/gentegr.jpg');
    background-size: cover;
    max-height: 100%;
}

.hero_content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
    height: 100%;
    color: white;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}



.btn_verprecios {
    display: inline-block;
    justify-self: center;
    background-color: rgb(0, 183, 255);
    text-decoration: None;
    color: white;
    padding: 13px 30px;
    border-radius: 30px;
    /* z-index: 5; */
}

@media (max-width: 1200px) {
    .hero {
        flex-direction: column;
    }
}


/* precios */

.seccion_planes {
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5rem 5rem;
    gap: 1em;
}

.container_planes {
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
    justify-content: center;
    /* background-color: var(--c-blue-900); */
    color: var(--c-blue-100);
    /* padding: 20px; */
}

#planes_organizadores {}

#planes_usuarios {
    background-color: var(--azul);
}

.container_plan {
    padding: 5px;
    border-radius: 16px;

}

.container_plan:hover {
    transition: all .2s ease-in-out;
    background-image: linear-gradient(0, var(--naranja)20%, var(--azul-claro) 50%, var(--azul)80%, var(--azul-gris)100%);

    transform: scale(1.01);
}

.plan {
    aspect-ratio: 4 / 6;
    background-color: var(--gris-claro);
    border-radius: 16px;
    max-width: 375px;
    min-width: 250px;
    max-height: 45vh;
    padding: 1rem;
    display: flex;
    color: black;
    flex-direction: column;
    box-shadow: 0 15px 45px 0 rgba(#000, 0.15);
    position: relative;
}

.plan:hover {
    transform: translate(0, -2px);
    box-shadow: 0 0 30px #00000089;
}


.precio {
    padding-top: 15px;
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    display: inline-flex;
    align-self: center;
    align-items: baseline;
    gap: 4px;
    position: relative;
    color: #fff;
    background: linear-gradient(to right, #FF6B6B, #556270);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.centimos{
    font-size: 2rem;
}

.modalidad-pago{
    font-size: small;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titulo_plan {
    padding-top: 18px;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.25;
    text-align: center;
    color: black;
}

.descripcion_plan {
    padding-top: 5px;
    font-size: 1rem;
    text-align: center;
}

.features {
    /* display: grid; */
    padding-top: 5px;
    text-align: left;
    /* margin-top: 20px; */
    /* grid-template-rows: repeat(auto-fill, 40px); */
}

.feature {
    display: flex;
    padding-top: 5px;
}

.icono_feature {
    padding-top: 2px;
    max-height: 24px;
    max-width: 100%;
    vertical-align: top;
    margin-right: 1%;
}

/* opinion */



.container_opinion_wrap {
    aspect-ratio: 20/4;
    max-width: 800px;
    margin: auto;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 5px;
    border-radius: 2rem;
    background: linear-gradient(180deg, var(--naranja)20%, var(--azul-claro) 50%, var(--azul)80%, var(--azul-gris)100%);


}

.container_opinion {
    aspect-ratio: 20/4;
    max-width: 800px;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    background-color: rgb(243 244 246);
    border-radius: 2rem;
    /* border: solid 6px transparent;
    border-radius: 80px;
    background-image: linear-gradient(white, white), linear-gradient(#f00, #3020ff);
    background-origin: border-box;
    background-clip: content-box, border-box; */
}

.foto_cliente {
    padding: 5%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    text-align: center;
    align-items: center;
    border-radius: 50%;
}


/* The switch - the box around the slider */

.btn-mensual-anual {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 35px;
}

/* Quitamos el check del checkbox original */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--azul-gris);
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--azul-gris);
    animation-name: animacionToRight;
    animation-duration: 0.4s;
}

input:not(:checked)+.slider {
    animation-name: animacionToLeft;
    animation-duration: 0.4s;
}



@keyframes animacionToRight {
    0% {
        background-color: var(--azul-gris);
    }

    30% {
        background-color: var(--gris-claro);
    }

    70% {
        background-color: var(--gris-claro);
    }

    100% {
        background-color: var(--azul-gris);
    }
}

@keyframes animacionToLeft {
    0% {
        background-color: var(--azul-gris);
    }

    30% {
        background-color: var(--gris-claro);
    }

    70% {
        background-color: var(--gris-claro);
    }

    100% {
        background-color: var(--azul-gris);
    }
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--azul-gris);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}