@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}


:root {
    --c-blue-900: #081030;
    --c-blue-800: #111b40;
    --c-blue-700: #152148;
    --c-blue-500: #1d7bdb;
    --c-blue-300: #293359;
    --c-blue-200: #4e5985;
    --c-blue-100: #dfe8ff;
    --c-green-400: #4ade80;
}

/* header hero */
header {
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0deg, rgba(27, 26, 26, 0.9), rgba(49, 49, 49, 0.5)), url("../images/decidegra.jpg");
    background-size: cover;
    color: var(--blanco);
    padding-bottom: 20vh;
}

.btns {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

header h1 {
    padding-top: 15vh;
    padding-bottom: 1.5rem;
    text-align: center;
}


/* Header responsivo */
@media(max-width: 900px) {

    header {
        justify-content: start;
        gap: 0.25rem;
        padding-bottom: 4rem;
    }

    header h1 {
        padding-top: 2rem;
    }

}

/* precios */

/* container grande */
.seccion-planes {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: stretch;
    padding: 5rem 5rem;
    gap: 1em;
}

/* contenedor de los planes, hay que considerar la responsividad */
.container-planes {
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: stretch;
    justify-content: stretch;
}

@media(max-width: 1000px) {

    .container-planes{
        flex-direction: column;
    }

}

/* Plan */
.container-planes > article {
    background-color: var(--gris-claro);
    border-radius: 16px;
    max-width: 375px;
    min-width: 250px;
    padding: 1rem;
    display: flex;
    color: black;
    flex-direction: column;
    box-shadow: 0 15px 45px 0 rgba(#000, 0.15);
    border: 5px solid transparent;
    position: relative;
}

.container-planes article:hover {
    transform: translatkue(0, -2px);
    box-shadow: 0 0 30px #00000089; 
    transition: all .2s ease-in-out;
    background: linear-gradient(var(--gris-claro), var(--gris-claro)) padding-box,
        var(--gradiente-azul-naranja) border-box;
    border-radius: var(--radius);
}


.precio {
    padding-top: 15px;
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    display: inline-flex;
    align-self: center;
    align-items: baseline;
    gap: 4px;
    position: relative;
    color: #fff;
    background: linear-gradient(to right, #FF6B6B, #556270);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.centimos {
    font-size: 2rem;
}

.modalidad-pago {
    font-size: small;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Titulo del plan */
.container-planes > article > h2 {
    padding-top: 18px;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.25;
    text-align: center;
    color: black;
}

/* Descripcion del plan */
.container-planes > article > p {
    padding-top: 5px;
    font-size: 1rem;
    text-align: center;
}

/* Container características del plan */
.features {
    padding-top: 5px;
    text-align: left;
}

.feature {
    display: flex;
    padding-top: 5px;
}

.container-planes > article img {
    padding-top: 2px;
    max-height: 24px;
    max-width: 100%;
    vertical-align: top;
    margin-right: 1%;
}

/* opinion */
.container-opinion {
    max-width: 800px;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    border-radius: 2rem;
    border: 5px solid transparent;
    background: linear-gradient(var(--blanco), var(--blanco)) padding-box,
        var(--gradiente-azul-naranja-opuesto) border-box;
    border-radius: var(--radius);
}

.container-opinion > img {
    padding: 5%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    text-align: center;
    align-items: center;
    border-radius: 50%;
}

/* Btn anual mensual */
.btn-mensual-anual {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}

.btn-mensual-anual label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 35px;
}

/* Quitamos el check del checkbox original */
.btn-mensual-anual label input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--azul-gris);
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--azul-gris);
    animation-name: animacionToRight;
    animation-duration: 0.4s;
}

input:not(:checked)+.slider {
    animation-name: animacionToLeft;
    animation-duration: 0.4s;
}



@keyframes animacionToRight {
    0% {
        background-color: var(--azul-gris);
    }

    30% {
        background-color: var(--gris-claro);
    }

    70% {
        background-color: var(--gris-claro);
    }

    100% {
        background-color: var(--azul-gris);
    }
}

@keyframes animacionToLeft {
    0% {
        background-color: var(--azul-gris);
    }

    30% {
        background-color: var(--gris-claro);
    }

    70% {
        background-color: var(--gris-claro);
    }

    100% {
        background-color: var(--azul-gris);
    }
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--azul-gris);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}